<h5 class="text-center mt-2">
	<%= link_to "キープ一覧", keeps_path, class: "border-bottom" %>
</h5>

<div class="px-2">
	あなたがキープしている記事の一覧です。
</div>
<p class="text-center mt-2">
  <a class="text-secondary" data-toggle="collapse" href="#collapseKeepsSm" role="button" aria-expanded="false" aria-controls="collapseKeepsSm">
    キープとは？
  </a>
</p>
<div class="collapse p-2" id="collapseKeepsSm">

  <p>
  	キープとは、あなたがもう一度読みたいと思った記事、後で読みたい記事を保存しておける機能です。
  </p>

	<ul>
		<span>記事をキープすると・・・</span>
		<li>ユーザータイムラインにあなたのキープした記事が投稿されます。</li>
	</ul>

	<ul>
		<span>あなたの記事がキープされると・・・</span>
		<li>2EP入手できます。</li>
		<li>キープしてくれた人のタイムラインにあなたの記事が投稿されるので、あなたの記事が多くの人に読んでもらえるかもしれません。</li>
	</ul>

</div>