<% if article.kept_by?(current_user) %>

	<%= link_to article_keeps_path(article), style: "text-decoration: none;" , method: :delete, id: "keep_link", remote: true do %>

		<span class="list-group-item list-group-item-action nav-font bg-danger text-white mb-2">
			<%= fa_icon("folder-open 2x") %>
		</span>

	<% end %>

<% else %>

	<%= link_to article_keeps_path(article), style: "text-decoration: none;" , method: :post, id: "keep_link", remote: true do %>

		<span class="list-group-item list-group-item-action nav-font mb-2">
			<%= fa_icon("folder-open 2x") %>
		</span>

	<% end %>

<% end %>