<% rank = 1 %>

<thead>
  <tr>
    <th colspan="2">人気ユーザー</th>
  </tr>
</thead>
<tbody>
  <% @users.each do |user| %>
    <tr>
      <td>
      	<span class="mr-1 font-weight-bold"><%= rank %></span>
      	<%= attachment_image_tag user, :image, fallback: "no_image.jpg", class: " mx-1", style: "max-height: 40px; max-width: 40px;"%>
      	<span class="small"><%= link_to user.user_name, user_path(user) %></span>
      </td>
      <td class="text-right">
      	<span class="font-weight-bold"><%= user.point %></span><br>
      	<span class="small text-secondary">
      		EP
      	</span>
      </td>
    </tr>
    <% rank += 1 %>
  <% end %>
</tbody>