<div class="container">
	<div class="row justify-content-center">

		<%= render 'users/setting_sidebar' %>

		<div class="col-lg-10 col-sm-12 mt-lg-5">

			<div class="card">
	      <div class="card-header">
	        <div class="row">

	          <div class="col-12">
	          	二段階認証の設定
	          </div>

	        </div>
	      </div>

	      <div class="card-body">

	        <div class="row">

	          <div class="col-lg-10 col-sm-12å">
	          	<span class="small text-secondary">
	          		二段階認証の設定
	          	</span><br>
	          	<span>
	          		<%= link_to "二段階認証の設定を始める", root_path %>
	          	</span>

							<div>
							  <% if current_user.otp_required_for_login %>
							    <%= button_to "Disable 2FA", two_factor_auth_path, method: :delete %>
							  <% else %>
							    <%= button_to "Enable 2FA", new_two_factor_auth_path, method: :get %>
							  <% end %>
							</div>

	          </div>

	        </div>

	      </div>

	    </div>

	  </div>
	</div>
</div>