<% if tag.taggings.exists?(taggable_type: "User", taggable_id: current_user.id) %>

  <span>
    <% tagging = Tagging.find_by(tag_id: tag.id, taggable_type: "User", taggable_id: current_user.id) %>
    <%= link_to "タグリストから削除する",tagging_path(tagging.id), class: "btn btn-outline-secondary btn-sm", method: :delete, remote: true %>
  </span>

<% else %>

  <span>
    <%= form_for(new_tag, url: {controller: "tags" ,action: "add"}, remote: true) do |f| %>
      <span class="d-none">
      <%= text_field_tag 'user[tag_list]', current_user.tag_list.join(','), value: "#{tag.name}" %>
      </span>
      <%= f.submit "タグリストに登録する", class: "btn btn-outline-primary btn-sm" %>
    <% end %>
  </span>

<% end %>