<div class="container-fluid">
	<div class="row justify-content-center">
		<div class="col-12 favorite-bg-color text-white align" style="min-height: 250px; margin-top: -25px;">

			<div class="row text-center h-100 align-items-center">

				<div class="col-lg-12 col-12 my-5">
					<h1 style="letter-spacing: 1em; font-size: 40px;">エブリティーズ</h1>
					<h1 style="letter-spacing: 0.3em; font-size: 110px;">Eblities</h1>
					<h5 style="letter-spacing: 0.1em; font-size: 30px;">
						知りたいことがきっと見つかる。
					</h5>
					<p style="letter-spacing: 0.1em; font-size: 23px;">
						クリエイターの知識をシェアするサイト。
					</p>
				</div>

			</div>

		</div>

		<div class="col-12 bg-white text-dark align" style="min-height: 250px;">

			<div class="row text-center h-100 my-5 justify-content-center">
				<div class="col-lg-8 col-12">
					<h1 style="letter-spacing: 0.1em;">About Eblities</h1>
					<div>
						Eblitiesは作曲家、イラストレーター、CGデザイナーなど、クリエイターの創作活動に役立つ知識をシェアするサイト = Everyone's(みんなの) abilities(能力) をシェアするサイトです。創作に関する技術的な事、実践的な方法論、基礎知識、予備知識などを記事として投稿する事、記事を見て回る事を主な目的としています。
					</div>
					<p style="margin-top: 15px;letter-spacing: 0.1em; font-size: 25px;">
						Everyone's abilities
					</p>
					<p><%= fa_icon('arrow-down 2x') %></p>
					<p style="letter-spacing: 0.1em; font-size: 25px;">Eblities</p>
				</div>
			</div>
		</div>

		<div class="col-12 bg-white text-dark align" style="min-height: 250px;">

			<div class="row text-center h-100 my-5">

				<div class="col-4">

					<h4>自由度の高い記事の作成</h4>
					<%= fa_icon('edit 5x') %>
					<div>
						WYSIWYG editor
						<a href="https://summernote.org/" class="text-dark"><u>summernote</u></a>
						を採用し、画像アップロード、動画引用、表作成、フォントサイズやフォントカラーの指定など、自由度の高い記事の作成が可能です。
					</div>

				</div>

				<div class="col-4">

					<h4>ユーザータイムライン</h4>
					<%= fa_icon('users 5x') %>
					<div>
						ユーザーをフォローすると、そのユーザーの投稿、イイね、キープ、コメントした記事がユーザータイムラインに表示されます。ユーザータイムラインを活用すると、あなたにとって有益な記事を見つけやすくなります。
					</div>

				</div>

				<div class="col-4">

					<h4>タグタイムライン</h4>
					<%= fa_icon('tags 5x') %>
					<div>
						"音楽","イラスト","基礎知識"など、記事と関連のある分野をタグとして登録できます。ユーザー自身のタグリストにもタグを登録することができ,登録されているタグの最新記事をタグタイムラインでチェックできます。
					</div>

				</div>

			</div>

		</div>

	</div>
</div>