<li class="page-item">
  <%= link_to_unless current_page.first?, raw(t 'views.pagination.first'), url, remote: remote, class: 'page-link bg-secondary btn btn-secondary text-white border border-secondary mx-1' %>
</li>
