// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a {
  color: #000;

  &:visited {
    color: rgb(181, 181, 181);
  }

  &:hover {
    columns: #000;
    background-color: #fff;
  }
}