<style type="text/css" media="screen">

.label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

.label-info {
  background-color: #1872dd;
}

</style>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">

      <p class="text-center my-3">
        <span class="bg-navy text-white p-2 rounded"><%= "#{@function_name}" %></span>
      </p>

      <%= simple_form_for(@draft, url: {action: 'update'}) do |f| %>

        <%= render 'drafts/draft_form', draft: @draft, f: f %>

      <% end %>

      </div>
  </div>
</div>

<script type="text/javascript">
var clipboadCopy = function(){
    var tagtext = document.getElementById("tags");
    tagtext.select();
    document.execCommand("copy");
}
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.min.js" crossorigin="anonymous"></script>
